{% load i18n %}
<hr>
<h3><i class="fa fa-filter"></i> Refine Search</h3>
<div class="panel-group" id="accordion2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <a data-toggle="collapse" data-parent="#accordion2" href="#category-tab">
                    <span class="pull-left">Location</span>
                    <span class="pull-right"></span>
                </a>
            </div>
        </div>
        <!-- TODO: autocomplete goes here -->
        <nav class="filter">
            <div class="input-group search-bar">
                <input name="location_search_input" id="location_search_input" ng-model="region_query" type="text" 
                    class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" id="location_search_btn" ng-click="add_search('regions__name__in', region_query, search_regions)"><i class="fa fa-plus">Add</i></button>
                </span>
            </div>
        </nav>
        <ul>
            <li ng-repeat="search in search_regions">
                {{ search }}
                <span class="input-group-btn pull-right">
                    <button class="btn btn-primary" type="submit" ng-click="remove_search('regions__name__in', search, search_regions)"><i class="fa fa-times"></i></button>
                </span>
            </li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <a data-toggle="collapse" data-parent="#accordion2" href="#regions" ng-controller="leaflet_hack" ng-click="showMap()">
                    <span class="pull-left">Interests</span>
                    <span class="pull-right"></span>
                </a>
            </div>
        </div>
        <!-- TODO: autocomplete goes here -->
    </div>
</div>