<h3><i class="fa fa-fire"></i> What's Hot</h3>
<!-- TODO: Adding 'featured' users. Currently it's giving the featured maps/layers -->
<ul><h3><li><a href="" ng-click="change_api('featured');"><i class="fa fa-star"></i> Editor's Picks</a></li></h3>
<h3><li><a href="" ng-click="change_api('profiles'); set_query('order_by', '-date_joined'); calculate_most_popular_location();"><i class="fa fa-plus"></i> Recently Joined</a></li></h3>
<!-- TODO: Need a new filter to check for a user's location -->
<h3><li><a href="" ng-click-"change_api('profiles');" ng-init="most_popular_location=''"><i class="fa fa-location-arrow"></i> Most Popular Location: {% verbatim %} {{ most_popular_location }} {% endverbatim %}</a></li></h3>
<!-- TODO: Need a new filter to check for a user's interests, and a property 'interests' that users actually have -->
<h3><li><a href="" ng-click-"change_api('profiles');" ng-init="most_popular_interest=''"><b>#</b> Most Popular Interest: {% verbatim %} {{ most_popular_interest }} {% endverbatim %}</a></h3></li>
<h3><li><a href="" ng-click="change_api('profiles'); set_query('order_by', '-maps_count')"><i class="fa fa-group"></i> Most Active Users</a></h3></li></ul>