<h3><i class="fa fa-fire"></i> What's Hot</h3>
<!-- TODO: Adding 'featured' users -->
<ul><h3><li><a href=""><i class="fa fa-star"></i> Editor's Picks</a></li></h3>
<h3><li><a href="" ng-click="set_query('order_by', '-date_joined')"><i class="fa fa-plus"></i> Recently Joined</a></li></h3>
<!-- TODO: Need a new filter to check for a user's location -->
<h3><li><a href="" ng-click-"set_query(filter, 'city')"><i class="fa fa-location-arrow"></i> Most Popular Location: {{ variable }}</a></li></h3>
<!-- TODO: Need a new filter to check for a user's interests, and a property 'interests' that users actually have -->
<h3><li><a href="" ng-click="set_query(filter, property)"><b>#</b> Most Popular Interest: {{ variable }}</a></h3></li>
<h3><li><a href="" ng-click="set_query('order_by', '-maps_count')"><i class="fa fa-group"></i> Most Active Users</a></h3></li></ul>